---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/pezholio?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4776'
      X-Ratelimit-Reset:
      - '1387450366'
      Last-Modified:
      - Wed, 18 Dec 2013 16:31:01 GMT
      Etag:
      - '"e5975b8634e37aeee11fd5d615ddecff"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"pezholio","id":109774,"avatar_url":"https://gravatar.com/avatar/75830be2998f0ae905c0b5daf4e1214b?d=https%3A%2F%2Fidenticons.github.com%2F4ae07c5784b22b90843e98c6406f81c7.png&r=x","gravatar_id":"75830be2998f0ae905c0b5daf4e1214b","url":"https://api.github.com/users/pezholio","html_url":"https://github.com/pezholio","followers_url":"https://api.github.com/users/pezholio/followers","following_url":"https://api.github.com/users/pezholio/following{/other_user}","gists_url":"https://api.github.com/users/pezholio/gists{/gist_id}","starred_url":"https://api.github.com/users/pezholio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pezholio/subscriptions","organizations_url":"https://api.github.com/users/pezholio/orgs","repos_url":"https://api.github.com/users/pezholio/repos","events_url":"https://api.github.com/users/pezholio/events{/privacy}","received_events_url":"https://api.github.com/users/pezholio/received_events","type":"User","site_admin":false,"public_repos":22,"public_gists":28,"followers":21,"following":13,"created_at":"2009-07-29T08:45:36Z","updated_at":"2013-12-18T16:31:01Z"}'
  recorded_at: Thu, 19 Dec 2013 10:51:42 GMT
recorded_with: VCR 2.8.0
