---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/pezholio?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1387318721'
      Last-Modified:
      - Tue, 17 Dec 2013 16:55:31 GMT
      Etag:
      - '"4b6eab3f5a3ddd9501da98f19e599514"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"pezholio","id":109774,"avatar_url":"https://gravatar.com/avatar/75830be2998f0ae905c0b5daf4e1214b?d=https%3A%2F%2Fidenticons.github.com%2F4ae07c5784b22b90843e98c6406f81c7.png&r=x","gravatar_id":"75830be2998f0ae905c0b5daf4e1214b","url":"https://api.github.com/users/pezholio","html_url":"https://github.com/pezholio","followers_url":"https://api.github.com/users/pezholio/followers","following_url":"https://api.github.com/users/pezholio/following{/other_user}","gists_url":"https://api.github.com/users/pezholio/gists{/gist_id}","starred_url":"https://api.github.com/users/pezholio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pezholio/subscriptions","organizations_url":"https://api.github.com/users/pezholio/orgs","repos_url":"https://api.github.com/users/pezholio/repos","events_url":"https://api.github.com/users/pezholio/events{/privacy}","received_events_url":"https://api.github.com/users/pezholio/received_events","type":"User","site_admin":false,"public_repos":22,"public_gists":28,"followers":21,"following":13,"created_at":"2009-07-29T08:45:36Z","updated_at":"2013-12-17T16:55:31Z"}'
  recorded_at: Tue, 17 Dec 2013 21:21:57 GMT
- request:
    method: get
    uri: https://api.github.com/users/pezholio/repos?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1387318721'
      Etag:
      - '"5b93d31c3fda5ae82e86c83d4f5d463d"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":3605830,"name":"Better-Countdown","full_name":"pezholio/Better-Countdown","owner":{"login":"pezholio","id":109774,"avatar_url":"https://gravatar.com/avatar/75830be2998f0ae905c0b5daf4e1214b?d=https%3A%2F%2Fidenticons.github.com%2F4ae07c5784b22b90843e98c6406f81c7.png&r=x","gravatar_id":"75830be2998f0ae905c0b5daf4e1214b","url":"https://api.github.com/users/pezholio","html_url":"https://github.com/pezholio","followers_url":"https://api.github.com/users/pezholio/followers","following_url":"https://api.github.com/users/pezholio/following{/other_user}","gists_url":"https://api.github.com/users/pezholio/gists{/gist_id}","starred_url":"https://api.github.com/users/pezholio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pezholio/subscriptions","organizations_url":"https://api.github.com/users/pezholio/orgs","repos_url":"https://api.github.com/users/pezholio/repos","events_url":"https://api.github.com/users/pezholio/events{/privacy}","received_events_url":"https://api.github.com/users/pezholio/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/pezholio/Better-Countdown","description":"WordPress
        Plugin providing a jQuery countdown","fork":true,"url":"https://api.github.com/repos/pezholio/Better-Countdown","forks_url":"https://api.github.com/repos/pezholio/Better-Countdown/forks","keys_url":"https://api.github.com/repos/pezholio/Better-Countdown/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pezholio/Better-Countdown/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pezholio/Better-Countdown/teams","hooks_url":"https://api.github.com/repos/pezholio/Better-Countdown/hooks","issue_events_url":"https://api.github.com/repos/pezholio/Better-Countdown/issues/events{/number}","events_url":"https://api.github.com/repos/pezholio/Better-Countdown/events","assignees_url":"https://api.github.com/repos/pezholio/Better-Countdown/assignees{/user}","branches_url":"https://api.github.com/repos/pezholio/Better-Countdown/branches{/branch}","tags_url":"https://api.github.com/repos/pezholio/Better-Countdown/tags","blobs_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/refs{/sha}","trees_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pezholio/Better-Countdown/statuses/{sha}","languages_url":"https://api.github.com/repos/pezholio/Better-Countdown/languages","stargazers_url":"https://api.github.com/repos/pezholio/Better-Countdown/stargazers","contributors_url":"https://api.github.com/repos/pezholio/Better-Countdown/contributors","subscribers_url":"https://api.github.com/repos/pezholio/Better-Countdown/subscribers","subscription_url":"https://api.github.com/repos/pezholio/Better-Countdown/subscription","commits_url":"https://api.github.com/repos/pezholio/Better-Countdown/commits{/sha}","git_commits_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/commits{/sha}","comments_url":"https://api.github.com/repos/pezholio/Better-Countdown/comments{/number}","issue_comment_url":"https://api.github.com/repos/pezholio/Better-Countdown/issues/comments/{number}","contents_url":"https://api.github.com/repos/pezholio/Better-Countdown/contents/{+path}","compare_url":"https://api.github.com/repos/pezholio/Better-Countdown/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pezholio/Better-Countdown/merges","archive_url":"https://api.github.com/repos/pezholio/Better-Countdown/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pezholio/Better-Countdown/downloads","issues_url":"https://api.github.com/repos/pezholio/Better-Countdown/issues{/number}","pulls_url":"https://api.github.com/repos/pezholio/Better-Countdown/pulls{/number}","milestones_url":"https://api.github.com/repos/pezholio/Better-Countdown/milestones{/number}","notifications_url":"https://api.github.com/repos/pezholio/Better-Countdown/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pezholio/Better-Countdown/labels{/name}","releases_url":"https://api.github.com/repos/pezholio/Better-Countdown/releases{/id}","created_at":"2012-03-02T20:28:31Z","updated_at":"2013-01-08T01:57:45Z","pushed_at":"2012-03-05T13:46:56Z","git_url":"git://github.com/pezholio/Better-Countdown.git","ssh_url":"git@github.com:pezholio/Better-Countdown.git","clone_url":"https://github.com/pezholio/Better-Countdown.git","svn_url":"https://github.com/pezholio/Better-Countdown","homepage":"","size":116,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":6091478,"name":"bones","full_name":"pezholio/bones","owner":{"login":"pezholio","id":109774,"avatar_url":"https://gravatar.com/avatar/75830be2998f0ae905c0b5daf4e1214b?d=https%3A%2F%2Fidenticons.github.com%2F4ae07c5784b22b90843e98c6406f81c7.png&r=x","gravatar_id":"75830be2998f0ae905c0b5daf4e1214b","url":"https://api.github.com/users/pezholio","html_url":"https://github.com/pezholio","followers_url":"https://api.github.com/users/pezholio/followers","following_url":"https://api.github.[...]
