---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/theodi/panopticon?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4872'
      X-Ratelimit-Reset:
      - '1387526233'
      Last-Modified:
      - Wed, 18 Dec 2013 09:32:27 GMT
      Etag:
      - '"0be46b62c0689dc224a0696e56663fe4"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":11475500,"name":"panopticon","full_name":"theodi/panopticon","owner":{"login":"theodi","id":2492770,"avatar_url":"https://gravatar.com/avatar/07ab537732bae0cb3167a3bd8f42f885?d=https%3A%2F%2Fidenticons.github.com%2F8c3ce638034d7d23f1ffb32d423fc1f7.png&r=x","gravatar_id":"07ab537732bae0cb3167a3bd8f42f885","url":"https://api.github.com/users/theodi","html_url":"https://github.com/theodi","followers_url":"https://api.github.com/users/theodi/followers","following_url":"https://api.github.com/users/theodi/following{/other_user}","gists_url":"https://api.github.com/users/theodi/gists{/gist_id}","starred_url":"https://api.github.com/users/theodi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/theodi/subscriptions","organizations_url":"https://api.github.com/users/theodi/orgs","repos_url":"https://api.github.com/users/theodi/repos","events_url":"https://api.github.com/users/theodi/events{/privacy}","received_events_url":"https://api.github.com/users/theodi/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/theodi/panopticon","description":"The
        know-all app","fork":true,"url":"https://api.github.com/repos/theodi/panopticon","forks_url":"https://api.github.com/repos/theodi/panopticon/forks","keys_url":"https://api.github.com/repos/theodi/panopticon/keys{/key_id}","collaborators_url":"https://api.github.com/repos/theodi/panopticon/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/theodi/panopticon/teams","hooks_url":"https://api.github.com/repos/theodi/panopticon/hooks","issue_events_url":"https://api.github.com/repos/theodi/panopticon/issues/events{/number}","events_url":"https://api.github.com/repos/theodi/panopticon/events","assignees_url":"https://api.github.com/repos/theodi/panopticon/assignees{/user}","branches_url":"https://api.github.com/repos/theodi/panopticon/branches{/branch}","tags_url":"https://api.github.com/repos/theodi/panopticon/tags","blobs_url":"https://api.github.com/repos/theodi/panopticon/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/theodi/panopticon/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/theodi/panopticon/git/refs{/sha}","trees_url":"https://api.github.com/repos/theodi/panopticon/git/trees{/sha}","statuses_url":"https://api.github.com/repos/theodi/panopticon/statuses/{sha}","languages_url":"https://api.github.com/repos/theodi/panopticon/languages","stargazers_url":"https://api.github.com/repos/theodi/panopticon/stargazers","contributors_url":"https://api.github.com/repos/theodi/panopticon/contributors","subscribers_url":"https://api.github.com/repos/theodi/panopticon/subscribers","subscription_url":"https://api.github.com/repos/theodi/panopticon/subscription","commits_url":"https://api.github.com/repos/theodi/panopticon/commits{/sha}","git_commits_url":"https://api.github.com/repos/theodi/panopticon/git/commits{/sha}","comments_url":"https://api.github.com/repos/theodi/panopticon/comments{/number}","issue_comment_url":"https://api.github.com/repos/theodi/panopticon/issues/comments/{number}","contents_url":"https://api.github.com/repos/theodi/panopticon/contents/{+path}","compare_url":"https://api.github.com/repos/theodi/panopticon/compare/{base}...{head}","merges_url":"https://api.github.com/repos/theodi/panopticon/merges","archive_url":"https://api.github.com/repos/theodi/panopticon/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/theodi/panopticon/downloads","issues_url":"https://api.github.com/repos/theodi/panopticon/issues{/number}","pulls_url":"https://api.github.com/repos/theodi/panopticon/pulls{/number}","milestones_url":"https://api.github.com/repos/theodi/panopticon/milestones{/number}","notifications_url":"https://api.github.com/repos/theodi/panopticon/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/theodi/panopticon/labels{/name}","releases_url":"https://api.github.com/repos/theodi/panopticon/releases{/id}","created_at":"2013-07-17T12:29:35Z","updated_at":"2013-12-18T09:32:27Z","pushed_at":"2013-12-18T09:32:27Z","git_url":"git://github.com/theodi/panopticon.git","ssh_url":"git@github.com:theodi/panopticon.git","clone_url":"https://github.com/theodi/panopticon.git","svn_url":"https://github.com/theodi/panopticon","homepage":"","size":2347,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"theodi","id":2492770,"avatar_url":"https://gravatar.com/avatar/07ab537732bae0cb3167a3bd8f42f885?d=https%3A%2F%2Fidenticons.github.com%2F8c3ce638034d7d23f1ffb32d423fc1f7.png&r=x","gravatar_id":"07ab537732bae0cb3167a3bd8f42f885","url":"https://api.github.com/users/theodi","html_url":"https://github.com/theodi","followers_url":"https://api.github.com/users/theodi/followers","following_url":"https://api.github.com/users/theodi/following{/other_user}","gists_url":"https://api.github.com/users/theodi/gists{/gist_id}","starred_url":"https://api.github.com/users/theodi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/theodi/subscriptions","organizations_url":"https://api.github.com/users/theodi/orgs","repos_url":"https://api.github.com/users/theodi/repos","events_url":"https://api.github.com/users/theodi/events{/privacy}","received_events_url":"https://api.github.com/users/theodi/received_events","type":"Organization","site_admin":false},"parent":{"id":2100564,"name":"panopticon","full_name":"alphagov/panopticon","owner":{"login":"alphagov","id":596977,"avatar_url":"https://gravatar.com/avatar/5618b843830194a2475a6e48823f7455?d=https%3A%2F%2Fidenticons.github.com%2Faf428980ac5a0728d2dbec4909810b17.png&r=x","gravatar_id":"5618b843830194a2475a6e48823f7455","url":"https://api.github.com/users/alphagov","html_url":"https://github.com/alphagov","followers_url":"https://api.github.com/users/alphagov/followers","following_url":"https://api.gith[...]
