---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/pezholio?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4865'
      X-Ratelimit-Reset:
      - '1387294863'
      Last-Modified:
      - Tue, 17 Dec 2013 12:59:01 GMT
      Etag:
      - '"54b93483d6537b51a2826705cefb9560"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"pezholio","id":109774,"avatar_url":"https://gravatar.com/avatar/75830be2998f0ae905c0b5daf4e1214b?d=https%3A%2F%2Fidenticons.github.com%2F4ae07c5784b22b90843e98c6406f81c7.png&r=x","gravatar_id":"75830be2998f0ae905c0b5daf4e1214b","url":"https://api.github.com/users/pezholio","html_url":"https://github.com/pezholio","followers_url":"https://api.github.com/users/pezholio/followers","following_url":"https://api.github.com/users/pezholio/following{/other_user}","gists_url":"https://api.github.com/users/pezholio/gists{/gist_id}","starred_url":"https://api.github.com/users/pezholio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pezholio/subscriptions","organizations_url":"https://api.github.com/users/pezholio/orgs","repos_url":"https://api.github.com/users/pezholio/repos","events_url":"https://api.github.com/users/pezholio/events{/privacy}","received_events_url":"https://api.github.com/users/pezholio/received_events","type":"User","site_admin":false,"public_repos":22,"followers":21,"following":13,"created_at":"2009-07-29T08:45:36Z","updated_at":"2013-12-17T12:59:01Z"}'
  recorded_at: Tue, 17 Dec 2013 15:18:23 GMT
- request:
    method: get
    uri: https://api.github.com/users/pezholio/repos?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4864'
      X-Ratelimit-Reset:
      - '1387294863'
      Etag:
      - '"5b93d31c3fda5ae82e86c83d4f5d463d"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":3605830,"name":"Better-Countdown","full_name":"pezholio/Better-Countdown","owner":{"login":"pezholio","id":109774,"avatar_url":"https://gravatar.com/avatar/75830be2998f0ae905c0b5daf4e1214b?d=https%3A%2F%2Fidenticons.github.com%2F4ae07c5784b22b90843e98c6406f81c7.png&r=x","gravatar_id":"75830be2998f0ae905c0b5daf4e1214b","url":"https://api.github.com/users/pezholio","html_url":"https://github.com/pezholio","followers_url":"https://api.github.com/users/pezholio/followers","following_url":"https://api.github.com/users/pezholio/following{/other_user}","gists_url":"https://api.github.com/users/pezholio/gists{/gist_id}","starred_url":"https://api.github.com/users/pezholio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pezholio/subscriptions","organizations_url":"https://api.github.com/users/pezholio/orgs","repos_url":"https://api.github.com/users/pezholio/repos","events_url":"https://api.github.com/users/pezholio/events{/privacy}","received_events_url":"https://api.github.com/users/pezholio/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/pezholio/Better-Countdown","description":"WordPress
        Plugin providing a jQuery countdown","fork":true,"url":"https://api.github.com/repos/pezholio/Better-Countdown","forks_url":"https://api.github.com/repos/pezholio/Better-Countdown/forks","keys_url":"https://api.github.com/repos/pezholio/Better-Countdown/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pezholio/Better-Countdown/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pezholio/Better-Countdown/teams","hooks_url":"https://api.github.com/repos/pezholio/Better-Countdown/hooks","issue_events_url":"https://api.github.com/repos/pezholio/Better-Countdown/issues/events{/number}","events_url":"https://api.github.com/repos/pezholio/Better-Countdown/events","assignees_url":"https://api.github.com/repos/pezholio/Better-Countdown/assignees{/user}","branches_url":"https://api.github.com/repos/pezholio/Better-Countdown/branches{/branch}","tags_url":"https://api.github.com/repos/pezholio/Better-Countdown/tags","blobs_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/refs{/sha}","trees_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pezholio/Better-Countdown/statuses/{sha}","languages_url":"https://api.github.com/repos/pezholio/Better-Countdown/languages","stargazers_url":"https://api.github.com/repos/pezholio/Better-Countdown/stargazers","contributors_url":"https://api.github.com/repos/pezholio/Better-Countdown/contributors","subscribers_url":"https://api.github.com/repos/pezholio/Better-Countdown/subscribers","subscription_url":"https://api.github.com/repos/pezholio/Better-Countdown/subscription","commits_url":"https://api.github.com/repos/pezholio/Better-Countdown/commits{/sha}","git_commits_url":"https://api.github.com/repos/pezholio/Better-Countdown/git/commits{/sha}","comments_url":"https://api.github.com/repos/pezholio/Better-Countdown/comments{/number}","issue_comment_url":"https://api.github.com/repos/pezholio/Better-Countdown/issues/comments/{number}","contents_url":"https://api.github.com/repos/pezholio/Better-Countdown/contents/{+path}","compare_url":"https://api.github.com/repos/pezholio/Better-Countdown/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pezholio/Better-Countdown/merges","archive_url":"https://api.github.com/repos/pezholio/Better-Countdown/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pezholio/Better-Countdown/downloads","issues_url":"https://api.github.com/repos/pezholio/Better-Countdown/issues{/number}","pulls_url":"https://api.github.com/repos/pezholio/Better-Countdown/pulls{/number}","milestones_url":"https://api.github.com/repos/pezholio/Better-Countdown/milestones{/number}","notifications_url":"https://api.github.com/repos/pezholio/Better-Countdown/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pezholio/Better-Countdown/labels{/name}","releases_url":"https://api.github.com/repos/pezholio/Better-Countdown/releases{/id}","created_at":"2012-03-02T20:28:31Z","updated_at":"2013-01-08T01:57:45Z","pushed_at":"2012-03-05T13:46:56Z","git_url":"git://github.com/pezholio/Better-Countdown.git","ssh_url":"git@github.com:pezholio/Better-Countdown.git","clone_url":"https://github.com/pezholio/Better-Countdown.git","svn_url":"https://github.com/pezholio/Better-Countdown","homepage":"","size":116,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":6091478,"name":"bones","full_name":"pezholio/bones","owner":{"login":"pezholio","id":109774,"avatar_url":"https://gravatar.com/avatar/75830be2998f0ae905c0b5daf4e1214b?d=https%3A%2F%2Fidenticons.github.com%2F4ae07c5784b22b90843e98c6406f81c7.png&r=x","gravatar_id":"75830be2998f0ae905c0b5daf4e1214b","url":"https://api.github.com/users/pezholio","html_url":"https://github.com/pezholio","followers_url":"https://api.github.com/users/pezholio/followers","following_url":"https://api.github.[...]
- request:
    method: get
    uri: https://api.github.com/users/pezholio/orgs?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4863'
      X-Ratelimit-Reset:
      - '1387294863'
      Etag:
      - '"d856bba38822dfef9bec1500cdd02c92"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - read:org, write:org, admin:org, repo, user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"login":"Lichfield-District-Council","id":1985219,"url":"https://api.github.com/orgs/Lichfield-District-Council","repos_url":"https://api.github.com/orgs/Lichfield-District-Council/repos","events_url":"https://api.github.com/orgs/Lichfield-District-Council/events","members_url":"https://api.github.com/orgs/Lichfield-District-Council/members{/member}","public_members_url":"https://api.github.com/orgs/Lichfield-District-Council/public_members{/member}","avatar_url":"https://gravatar.com/avatar/b77ab276faf6109415faf7f0413ca04d?d=https%3A%2F%2Fidenticons.github.com%2F2d70d5fae537fda2daddead0a72065f4.png&r=x"},{"login":"theodi","id":2492770,"url":"https://api.github.com/orgs/theodi","repos_url":"https://api.github.com/orgs/theodi/repos","events_url":"https://api.github.com/orgs/theodi/events","members_url":"https://api.github.com/orgs/theodi/members{/member}","public_members_url":"https://api.github.com/orgs/theodi/public_members{/member}","avatar_url":"https://gravatar.com/avatar/07ab537732bae0cb3167a3bd8f42f885?d=https%3A%2F%2Fidenticons.github.com%2F8c3ce638034d7d23f1ffb32d423fc1f7.png&r=x"}]'
  recorded_at: Tue, 17 Dec 2013 15:18:25 GMT
- request:
    method: get
    uri: https://api.github.com/users/Lichfield-District-Council/repos?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Rem[...]
- request:
    method: get
    uri: https://api.github.com/users/theodi/repos?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4861'
      X-Ratelimit-Reset:
      - '1387294863'
      Etag:
      - '"004695f9f19b771d9ba1a41270b470e6"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/2492770/repos?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/2492770/repos?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>&page=5>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":9675550,"name":"alternate-rails","full_name":"theodi/alternate-rails","owner":{"login":"theodi","id":2492770,"avatar_url":"https://gravatar.com/avatar/07ab537732bae0cb3167a3bd8f42f885?d=https%3A%2F%2Fidentico[...]
- request:
    method: get
    uri: https://api.github.com/user/2492770/repos?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>&page=2&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Rema[...]
[...]
