---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hello?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4856'
      X-Ratelimit-Reset:
      - '1387294863'
      Last-Modified:
      - Tue, 17 Dec 2013 02:36:30 GMT
      Etag:
      - '"fd2dd9cba318a52c11cbf39c68eb8226"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"hello","id":1836624,"avatar_url":"https://gravatar.com/avatar/599a3a567ddc2a08daa7310bf815be4c?d=https%3A%2F%2Fidenticons.github.com%2F1ac46c5c892c4fb5f08eb11f50356d10.png&r=x","gravatar_id":"599a3a567ddc2a08daa7310bf815be4c","url":"https://api.github.com/users/hello","html_url":"https://github.com/hello","followers_url":"https://api.github.com/users/hello/followers","following_url":"https://api.github.com/users/hello/following{/other_user}","gists_url":"https://api.github.com/users/hello/gists{/gist_id}","starred_url":"https://api.github.com/users/hello/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hello/subscriptions","organizations_url":"https://api.github.com/users/hello/orgs","repos_url":"https://api.github.com/users/hello/repos","events_url":"https://api.github.com/users/hello/events{/privacy}","received_events_url":"https://api.github.com/users/hello/received_events","type":"Organization","site_admin":false,"name":"Hello","company":null,"blog":null,"location":"San
        Francisco","email":null,"hireable":null,"bio":null,"public_repos":0,"followers":0,"following":0,"created_at":"2012-06-11T00:00:22Z","updated_at":"2013-12-17T02:36:30Z"}'
  recorded_at: Tue, 17 Dec 2013 15:18:30 GMT
- request:
    method: get
    uri: https://api.github.com/users/hello/repos?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4855'
      X-Ratelimit-Reset:
      - '1387294863'
      Etag:
      - '"bea361185c3b3991c0c6fb944373225e"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 17 Dec 2013 15:18:31 GMT
- request:
    method: get
    uri: https://api.github.com/users/hello/orgs?access_token=<FORKBOMB_GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FORKBOMB_GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4854'
      X-Ratelimit-Reset:
      - '1387294863'
      Etag:
      - '"bea361185c3b3991c0c6fb944373225e"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - read:org, write:org, admin:org, repo, user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 17 Dec 2013 15:18:31 GMT
recorded_with: VCR 2.8.0
